html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font-size: 16px;
  color: #000000; }

h1 {
  font-size: 2.5rem;
  font-weight: bold; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 40rem) {
  .show-xs-only {
    display: block !important; }
  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-xs-only {
    display: none !important; } }

@media only screen and (min-width: 41rem) {
  .show-sm {
    display: block !important; }
  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-sm {
    display: none !important; } }

@media only screen and (min-width: 41rem) and (max-width: 64rem) {
  .show-sm-only {
    display: block !important; }
  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-sm-only {
    display: none !important; } }

@media only screen and (min-width: 65rem) {
  .show-md {
    display: block !important; }
  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-md {
    display: none !important; } }

@media only screen and (min-width: 65rem) and (max-width: 90rem) {
  .show-md-only {
    display: block !important; }
  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-md-only {
    display: none !important; } }

@media only screen and (min-width: 91rem) {
  .show-lg {
    display: block !important; }
  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-lg {
    display: none !important; } }

@media only screen and (min-width: 91rem) and (max-width: 120rem) {
  .show-lg-only {
    display: block !important; }
  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-lg-only {
    display: none !important; } }

@media only screen and (min-width: 121rem) {
  .show-xl {
    display: block !important; }
  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-xl {
    display: none !important; } }

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1rem; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-1 {
  box-sizing: border-box;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 0 1rem; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-2 {
  box-sizing: border-box;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 0 1rem; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1rem; }

.col-offset-3 {
  margin-left: 25%; }

.col-4 {
  box-sizing: border-box;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 0 1rem; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-5 {
  box-sizing: border-box;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 0 1rem; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1rem; }

.col-offset-6 {
  margin-left: 50%; }

.col-7 {
  box-sizing: border-box;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 0 1rem; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-8 {
  box-sizing: border-box;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 0 1rem; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 1rem; }

.col-offset-9 {
  margin-left: 75%; }

.col-10 {
  box-sizing: border-box;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 0 1rem; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-11 {
  box-sizing: border-box;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 0 1rem; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1rem; }

.col-offset-12 {
  margin-left: 100%; }

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1rem; }

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 0 1rem; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 0 1rem; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1rem; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 0 1rem; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 0 1rem; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1rem; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 0 1rem; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 0 1rem; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 1rem; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 0 1rem; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 0 1rem; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1rem; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 41rem) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }
  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 1rem; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 1rem; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 1rem; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 1rem; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 1rem; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 1rem; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 1rem; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 1rem; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .row.start-sm {
    justify-content: flex-start; }
  .row.center-sm {
    justify-content: center; }
  .row.end-sm {
    justify-content: flex-end; }
  .row.top-sm {
    align-items: flex-start; }
  .row.middle-sm {
    align-items: center; }
  .row.bottom-sm {
    align-items: flex-end; }
  .row.around-sm {
    justify-content: space-around; }
  .row.between-sm {
    justify-content: space-between; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (min-width: 65rem) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }
  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 1rem; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 1rem; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 1rem; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 1rem; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 1rem; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 1rem; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 1rem; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 1rem; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .row.start-md {
    justify-content: flex-start; }
  .row.center-md {
    justify-content: center; }
  .row.end-md {
    justify-content: flex-end; }
  .row.top-md {
    align-items: flex-start; }
  .row.middle-md {
    align-items: center; }
  .row.bottom-md {
    align-items: flex-end; }
  .row.around-md {
    justify-content: space-around; }
  .row.between-md {
    justify-content: space-between; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media only screen and (min-width: 91rem) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }
  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 1rem; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 1rem; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 1rem; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 1rem; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 1rem; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 1rem; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 1rem; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 1rem; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .row.start-lg {
    justify-content: flex-start; }
  .row.center-lg {
    justify-content: center; }
  .row.end-lg {
    justify-content: flex-end; }
  .row.top-lg {
    align-items: flex-start; }
  .row.middle-lg {
    align-items: center; }
  .row.bottom-lg {
    align-items: flex-end; }
  .row.around-lg {
    justify-content: space-around; }
  .row.between-lg {
    justify-content: space-between; }
  .first-lg {
    order: -1; }
  .last-lg {
    order: 1; } }

@media only screen and (min-width: 121rem) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }
  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 1rem; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 1rem; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 1rem; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 1rem; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 1rem; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 1rem; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 1rem; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 1rem; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }
  .col-xl-offset-12 {
    margin-left: 100%; }
  .row.start-xl {
    justify-content: flex-start; }
  .row.center-xl {
    justify-content: center; }
  .row.end-xl {
    justify-content: flex-end; }
  .row.top-xl {
    align-items: flex-start; }
  .row.middle-xl {
    align-items: center; }
  .row.bottom-xl {
    align-items: flex-end; }
  .row.around-xl {
    justify-content: space-around; }
  .row.between-xl {
    justify-content: space-between; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

.col-gutter-lr {
  padding: 0 1rem; }

.col-no-gutter {
  padding: 0; }

@font-face {
	font-family: "sngfonticons";
	src: url("/assets/app.sngfonticons.eot?#iefix") format("embedded-opentype"),
url("/assets/app.sngfonticons.woff") format("woff"),
url("/assets/app.sngfonticons.woff2") format("woff2"),
url("/assets/app.sngfonticons.ttf") format("truetype"),
url("/assets/app.sngfonticons.svg#sngfonticons") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: sngfonticons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-home:before {
	content: "\F101";
}

